<div class="card flex justify-content-between align-items-center p-2 gap-3">
  <button class="custom-button" (click)="toggleSidebar()">
    <i class="pi pi-bars custom-icon glow-on-hover"></i>
  </button>
  <span class="text-lg font-bold glow-on-hover">PapusShop</span>
</div>
<p-sidebar [(visible)]="sidebarVisible">
  <ng-template pTemplate="header">
    <div class="flex align-items-center gap-2">
      <p-avatar 
                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
                    shape="circle" />
                <span class="font-bold">
                    EMpleado 
                </span>
    </div>
  </ng-template>
  <div class="sidebar-buttons">
    <button class="sidebar-button" routerLink="/login">
      <i class="pi pi-users"></i>
      <span>Usuarios</span>
    </button>
    <button class="sidebar-button" routerLink="/categorias">
      <i class="pi pi-objects-column"></i>
      <span>Categorias</span>
    </button>
    <button class="sidebar-button" routerLink="/inventario">
      <i class="pi pi-truck"></i>
      <span>Productos</span>
    </button>
    <button class="sidebar-button" routerLink="/facturas">
      <i class="pi pi-receipt"></i>
      <span>Facturas</span>
    </button>
  </div>
</p-sidebar>
<router-outlet></router-outlet>

