.small-form-container {
  margin: 20px auto; /* Ajusta el margen para centrar el formulario */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%; /* Ajusta el ancho máximo del formulario */
  overflow-x: auto; /* Agrega desplazamiento horizontal si el contenido excede el ancho */
}

.small-form {
  display: flex; /* Usa un contenedor flex para las filas */
  flex-wrap: nowrap; /* Evita que se envuelva el contenido en varias líneas */
  padding: 10px;
}

.card-list {
  display: flex;.image-container {
    width: 100%;
    height: auto;
  }
  
  .small-image {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen */
    max-height: 100%; /* Ajusta la altura máxima de la imagen */
  }
  
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centra horizontalmente las tarjetas */
}

.card {
  width: 450px; /* Ajusta el ancho de las tarjetas */
  margin-bottom: 20px;
}



.small-text {
  font-size: 12px; /* Tamaño de fuente más pequeño */
}


/* Ajusta el tamaño del texto en las tarjetas */
.card .p-card-title,
.card .p-card-subtitle,
.card .p-card-content,
.card .p-button {
  font-size: 12px; /* Reduzca el tamaño del texto */
}
